<thead>
    <th style="width:200px;">#</th>
<%
$.each(item[0].date , function (key, value){
%>
    <th><%= value %></th>
<%
})
%>
</thead>
<tbody>
<%

var totalArray = []
$.each(item , function (key, value){
%>
<tr>
    <td><span class="textOverflow" style="width:200px" title="<%= value.name %>"><%= value.name %></span></td>
    <%
    var dataIndex = 0;
    $.each(value.data , function (totalKey, total){

    %>
    <td>
        <%= total %>
    </td>
    <%
        if(_.isNumber(totalArray[dataIndex])) {
            totalArray[dataIndex] +=total;
        }else {
            totalArray[dataIndex] = total;
        }
        dataIndex ++ ;
    });
    %>
</tr>
<%
});
%>

<tr>
<td>
总计
</td>
<%
$.each(totalArray , function (key, value){
%>
<td><%=value%></td>
<%
})
%>
</tr>
</tbody>
